scikit-learn==1.0.2
pandas==1.4.2
numpy==1.22.3
requests==2.27.1
nltk==3.7
openpyxl==3.0.9
pycld3==0.22
textblob==0.17.1
transformers==4.18.0
tensorflow==2.8.0
keras==2.8.0
gensim==4.1.2
matplotlib==3.5.1
seaborn==0.11.2
setuptools==62.1.0
hdbscan==0.8.28